<div class="container-fluid">
  <div class="content">
    <section id="top-img">
      <div class="header-panel">
        <div class="row">
          <div class="col"></div>
          <div class="col-6">
            <div class="header-logo">
              <img src="" alt="" />
            </div>
            <div class="header-text">
              <h1>{{ launcherName }}</h1>
              <h5>{{ launcherVersion }} - {{ launcherReleased }}</h5>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </section>
    <! -- kraj naslovne slike -- >
    <section id="about">
      <div class="about-launcher">
        <div class="row">
          <div class="col"></div>
          <div class="col-6">
            <h1>{{ uputstvoTitle }}</h1>
            <h5>{{ uputstvoSubtitle }}</h5>
            <p>{{ loremIpsum }}</p>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="edge-silver"></div>
    </section>
    <! -- kraj o launcheru -- >
    <section id="download-launcher">
      <div class="download">
        <div class="row">
          <div class="col"></div>
          <div class="col-6">
            <button  (click)="goToDownload()" type="button" class="btn btn-download">Download launcher</button>
            <h6 *ngIf="downloaded">{{ toastMsg }}</h6>
            <h6>{{ fileName }} | {{ fileSize }} mb</h6>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </section>
    <! -- kraj download -- >
    <section id="about-cs">
      <div class="edge-red"></div>
      <div class="about-cs">
        <div class="row">
          <div class="col"></div>
          <div class="col-6">
            <h1>{{ serverName }}</h1>
            <p>{{ serverText }}
            </p>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </section>
    <! -- kraj about-cs -- >
    <section id="footer">
      <div class="footer">
        <div class="row">
          <div class="col"></div>
          <div class="col-6">
            <h5>Copyright &copy; 2017</h5>
            <h6>Columbia State team</h6>
          </div>
          <div class="col forum-link">
            <a href="https://columbia-state.com/">
              <h6 align="center">Povratak na forum</h6>
            </a>
            <a href="https://columbia-state.com/">
              <h6 align="center">Razvojne novosti launchera</h6>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>