<div class="container-fluid">
  <div class="content">
    <section id="top-img">
      <div class="row">
        <div class="col-md-12">
          <div class="header-panel">
            <div class="header-text">
              <h1>Columbia State</h1>
              <h5>Dobrodosli neki text</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, tenetur id soluta facilis vel accusamus,
                qui non dolorum eius ipsa est esse in ratione dolore perspiciatis vero distinctio, autem quas!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <! -- kraj naslovne slike -- >
    <section id="about">
      <div class="row">
        <div class="col-md-12">
          <div class="about-launcher">
            <h1>Lorem ipsum</h1>
            <h5>Dolor sit amet</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis explicabo aliquam, saepe quod a voluptates
              officiis ratione nihil. Placeat et, autem nulla dolore tempora eligendi animi quisquam blanditiis iusto earum?</p>
          </div>
        </div>
      </div>
    </section>
    <! -- kraj o launcheru -- >
    <section id="download-launcher">
      <div class="row">
        <div class="col-md-12">
          <div class="download">
            <button type="button" class="btn btn-download">Download launcher</button>
            <h6>cs.exe | 25mb</h6>
          </div>
        </div>
      </div>
    </section>
    <! -- kraj download -- >
    <section id="about-cs">
      <div class="row">
        <div class="col-md-12">
          
          <div class="about-cs">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum delectus distinctio optio, sapiente harum
              non sequi cupiditate, tempore quis iste illo laudantium dolores atque omnis aut, veniam accusantium possimus
              eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, totam quod. Dolores tempore placeat repudiandae repellat, voluptate perspiciatis alias eum vero voluptatem recusandae nostrum saepe fuga, repellendus provident sed enim?
            </p>
          </div>
        </div>
      </div>
    </section>
    <! -- kraj about-cs -- >
    <section id="footer">
      <div class="row">
        <div class="col-md-12">
          <div class="footer">
            <h5>Copyright &copy; 2017</h5>
            <h6>Columbia State team</h6>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>