.modal-content {
    padding: 30px 30px;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}

.modal-header {
    padding: 0 0;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
    padding: 0 0;
}

.dark-modal .close {
    color: white;   
}

.modal-body {
    padding: 2em 0 0 0;
}

.btn-changelog {
    text-transform: uppercase;
    padding: 10px 50px;
    color: #B22222;
    margin-top: 1.5em;
    background: transparent;
    border: 1px solid #B22222;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-changelog:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: #B22222;
    cursor: pointer; 
}

.date h6 {
    color: #fff;
    font-size: .85em;
    letter-spacing: .1em;
}

.changelog-list {
    list-style-type: decimal;
    margin-bottom: 2em;
}

.changelog-list li {
    font-size: .7em;
    margin: 0 0 1em 0;
}

.changelog-list>li:nth-child(even) {
    color: #c4c4c4;
}
