<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">

    </div>
    <div class="modal-body">
        <! -- dodaj u listi stvari koje su dodate -->
        <ul class="changelog-list" *ngFor="let log of changeLog">
            <div class="date">
                <h6>{{ log.version }} - {{ log.released }} </h6>
            </div>
            <li *ngFor="let update of log.log">{{ update }}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <div class="date">
            <h6>{{ changeLog.version }}</h6>
        </div>
    </div>
</ng-template>

<button class="btn btn-changelog" (click)="open(content)">Changelog</button>